body {
    background-image: url('images/vaporwave.png');
    background-repeat: no-repeat;
    background-size:100vw 51vw;
    font-family: "Orbitron";
    display: block;
}
button {
    font-family: "Orbitron";
    height:50px;
    width: 100px;
    background-image: linear-gradient(35deg, #CCFFFF, #FFCCCC)
}

button:active { 
    transform: scale(0.96); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
}

#title {
    color: #33FF00;
    margin:auto;
    padding-left: 50px;
    padding-top: 25px;
    max-width: 600px;
    font-size: 48px;
    text-shadow: 0 0 5px black;
}

#buttonContainer {
    max-width: 600px;
    padding-left: 300px;
    padding-top: 60px;
    margin:auto;
}

.results {
    width: 800px;
    height: 300px;
    margin-left: 230px;
    margin-top: 20px;
    background-image: linear-gradient(35deg, #25062e, #1466c479);
    border: 1px black solid;
    color: #33FF00;

}

#resultsList {
    display: flex;
    margin: 5px 25px;
    height: 225px;
    border: black 2px solid;
}

#playerList {
border-right: black 2px solid;
width: 45%;
height: 225px;
margin: -2px;
margin-right: 0px;
overflow-y:auto;
flex-direction: row-reverse;
}

#computerList {
    margin: -2px;
    margin-left: 0px;
    height: 225px;
    width: 45%;
    overflow-y:auto;
}
#scoreboard {
    height: 40px;
    width:100%;
    display:flex;
    justify-content: space-around;
    font-size: 24px;
    text-shadow: 0 0 5px black;
}

#player {
    width: 20%;
    margin:10px;
    
}
#computer {
    width: 25%;
    margin:10px;
}
ul {
    list-style-type: none;
}

